@use 'variables' as *;
@use 'fonts' as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
    @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
    @content;
    }
}



@mixin font-page-header-mobile {
    font-family: 'Avenir Next';
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

@mixin font-page-header-desktop {
    font-family: 'Avenir Next';
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
}

@mixin font-section-header-mobile {
    font-family: 'Avenir Next';
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

@mixin font-section-header-desktop {
    font-family: 'Avenir Next Bold';
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
}

@mixin font-subheader-mobile {
    font-family: 'Avenir Next';
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;
}

@mixin font-subheader-desktop {
    font-family: 'Avenir Next';
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

@mixin font-body-mobile {
    font-family: 'Avenir Next ';
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
}

@mixin font-body-desktop {
    font-family: 'Avenir Next ';
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 400;
}

@mixin font-footer-mobile {
    font-family: 'Avenir Next ';
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
}

@mixin font-footer-desktop {
    font-family: 'Avenir Next';
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
}


