
$page-header-size: 24px;
$page-header-line-height: 32px;
$page-header-weight: 700;

$section-header-size: 14px;
$section-header-line-height: 22px;
$section-header-weight: 600;


$subheader-size: 13px;
$subheader-line-height: 18px;
$subheader-weight: 400;


$body-size: 13px;
$body-line-height: 18px;
$body-weight: 400;


$footer-size: 10px;
$footer-line-height: 20px;
$footer-weight: 700;

