@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/fonts' as *;
@use 'partials/colors' as *;
@use 'partials/typography' as *;

* {
    margin: 0;
    padding: 0; 
}


.photo {
    width: 100%;
    padding-bottom: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    width: 100%;

    .header-logo {
        background-color: $primary-color-black;
        color: $primary-color-white;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 100%;
        
        &__img {
            padding-bottom: 8px; 
            padding-top: 16px;
        }
        
        @include tablet {
            padding-left: 24px;
            flex-direction: row;
            justify-content: space-evenly;
            align-content: space-evenly;
        }
    }

    &__img {
        max-height: 20px;
        max-width: 120px;
        margin: 16px;
        padding-bottom: 16px;
    }
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    @include tablet{
        height: 14vh;
        align-items: flex-end;
    }


    &__menu {
        list-style: none;
        display: flex;
        padding-left: 0;
        width: 100%;
        justify-content: space-evenly;
        @include font-subheader-mobile;
        @include tablet{
            width: 40%;
        }
    }

    &__menu-item {
        width: 50%;
        color: $secondary-color-mercury;
        text-align: center;
        padding-bottom: 16px;
        





        @include tablet {
            align-items: center;
            width: 20%;
        }
    }

    &__menu-item--underline {
        border-bottom: solid;
        color: $primary-color-white;
    }
}



.hero__overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #323232(0,0,0,0.5);
}

.hero__overlay{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #323232(0,0,0,0.5);
}
.hero {
    display: flex;
    
    &__image {
        background-image: url('../assets/images/hero-bio.jpg');
        box-sizing: border-box;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }
    &__title {
        color: $primary-color-white;
        font-family: Avenir Next Regular;
        padding: 16px;
    }
}


.bio-section {
    margin-left: 16px;
    margin-right: 16px;
    
    

    &__paragraph {
        display: flex;
        flex-direction: column;
        
        @include font-body-mobile;
        padding-top: 16px;
        padding-bottom: 16px;
        
        @include tablet{
            display: flex;
            flex-direction: row;
            @include font-body-desktop;
            padding-left: 24px;
            padding-right: 24px;
        }



        &--text {
            color: $primary-color-black;
            padding-bottom: 16px;
            padding-right: 24px;
            padding-left: 24px;
        }
    }

    &__title {
        color: $primary-color-black;
        padding-left: 1rem;
        @include font-subheader-mobile;

        @include tablet {
            align-content: center;
            margin: 8rem auto 0rem 1.6rem;
            @include font-page-header-desktop;
            

        }
    
    }
}



.intro {
    margin-left: 1rem;
    margin-right: 1rem;
    @include tablet {
        margin: 36px;
    }
    
    &__text1{
        @include mobile{
            // @include font-section-header-desktop;
        }
        @include tablet {
            @include font-subheader-desktop;
        }
        }
    }

    &__text {
        color: $primary-color-black;
        padding-bottom: 16px;
        @include font-subheader-mobile;
        color: $primary-color-black;
        
        

        @include tablet {
            @include font-section-header-desktop;
            margin: 1.6rem auto auto auto;
        }   
    }

    &__photo {
        width: 100%;
        padding-bottom: 16px;    
    }

    &__title {
        margin: 1.6rem auto auto auto;
        color: $primary-color-black;
        margin-bottom: 16px;
        padding-top: 24px;
        @include font-section-header-mobile;

        @include tablet {
            @include font-section-header-desktop;
            margin: 1.6rem 0rem;
        }   
    }


.bio-section {

    &__paragraph {
        @include font-body-mobile;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    
        @include tablet{
            @include font-body-desktop;
            flex-direction: row;
            padding: 0rem 1.5rem 0rem 0rem;
}
    
        &--text {
            @include font-body-mobile;
            color: $primary-color-black;
            padding-bottom: 16px;
            padding-right: 24px;
            padding-left: 24px;
            
            @include tablet{
                @include font-body-desktop;
                }
        
    }

    &__title {
        color: $primary-color-black;
        padding-left: 1rem;
        @include font-subheader-mobile;

        @include tablet {
            margin: 36px;
            @include font-subheader-desktop;
            // padding-top: 3rem;
            // padding-bottom: 2.25rem;
        }


    }
}





.photo-gallery {
    padding: 16px;
    background-color: 
    $secondary-color-alabaster;
    
    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        
    }

    &__title {
        color: $primary-color-black;
        padding-bottom: 16px;
        @include font-body-mobile;
        @include tablet{
            @include font-body-desktop;
        }
    }
    
    &__image {
        width: 100%;
        padding-bottom: 16px;
        
        @include tablet {
            display: flex;
            width: 30%;
        }
    }
}
.comment-container{
    display:flex;
    flex-direction:column;

}
.comment-new {
    display:flex;
    border-bottom:1px solid $secondary-color-mercury;

    @include tablet{
        display: flex;
        border-bottom: 1px solid;
        flex-direction: row;
        justify-content: center;
    }

    &__avatar {
        margin-top:20px;
        background-color:$secondary-color-mercury;
        border-radius:100px;
        width:48px;
        height:48px

    }

    &__form {
        display:flex;
        flex-direction:column;
        margin-left: 16px
    }

    &__form-area {
        padding: 12px;
        width: 100%;
        font-family: avenir-regular;
        border-radius:4px;
        border:2px solid $secondary-color-mercury;
        background-color: $secondary-color-alabaster;
        padding-top: 0 ;
        padding-bottom: 16px;
        margin-bottom: 16px;

    }

    &__form-button {
        
        border-radius:4px;
        background-color: $primary-color-black ;
        color:$primary-color-white;
        padding:16px;
        border:none;
        cursor: pointer;
        margin-bottom:24px;

        @include tablet{
            width: 150px;
        }

        @include desktop{
            width: 150px; 
        }
    }

    &__form-name {
        padding: 12px;
        border-radius: 4px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: avenir-regular;
        border:2px solid $secondary-color-mercury;
        background-color: $secondary-color-alabaster;
    }

    // &__label {

    // }
}

.comment {
    &__avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-top: 22.4px;
        background-color:$secondary-color-mercury;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__image {
        width: 36px;
        height: 36px;
        border-radius: 32px;
        margin-top: 22.4px;
    }

    &__content {
        border-bottom: 1px solid $secondary-color-mercury;
        
        
    
    }

    &__date {
        @include tablet{
            @include font-body-mobile;

        }
        @include desktop{
            @include font-body-desktop;

        }
    }

    &__name {
        @include tablet{
            @include font-body-mobile;

        }
        @include desktop{
            @include font-body-desktop;

        }
    }

    &__text {
        @include tablet{
            @include font-body-mobile;

        }
        @include desktop{
            @include font-body-desktop;

        }

    }

    &--newest {

        @include tablet{
            @include font-body-mobile;
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: 18px;
            padding-right: 18px;
        }
        @include desktop{
            @include font-body-desktop;

        }
    }
}

.footer {
    width: 100%;
    background-color: $primary-color-black;
    color: $primary-color-white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 16px;
    @include font-footer-mobile;
    
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }


    &__social-media {
        padding-top: 16px;
        padding-bottom: 16px;
        

        &--section {
            display: flex;
            flex-direction: column;
            
        }
    }
    &__social-media-icons {
        padding-right:32px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;
        padding-top: 16px;
        @include font-footer-mobile;
    }
}

.footer-cam {

    padding-bottom: 16px;

    &__location {
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;
        padding-top: 16px;
    }

    &__name-company {
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;
        padding-top: 16px;
    }
}

.footer-carson {

    padding-bottom: 16px;
        &__location {
            display: flex;
            flex-direction: column;
            padding-bottom: 16px;
            
        }

        &__name-company {
            display: flex;
            flex-direction: column;
            padding-bottom: 16px;
            
        }
}

.footer-pearl {

    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
        &__location {
            display: flex;
            flex-direction: column;
            padding-bottom: 16px;
        
        }

        &__name-company {
            display: flex;
            flex-direction: column;
            padding-bottom: 16px;
            
        }
}

.social-media {
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
        &__icons {
            padding-top: 16px;
        
    }
}
