@font-face {
  font-family: Avenir Next;
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf"), url("/assets/fonts/Alternative_files/AvenirNextLTPro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Avenir Next;
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf"), url("/assets/fonts/Alternative_files/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Avenir Next;
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf"), url("/assets/fonts/Alternative_files/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
}

.photo {
  width: 100%;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
}
.header .header-logo {
  background-color: #323232;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header .header-logo {
    padding-left: 1.5rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
  }
}
.header__img {
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 1rem;
  padding-bottom: 1rem;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav {
    height: 11vh;
    align-items: flex-end;
  }
}
.nav__menu {
  list-style: none;
  display: flex;
  padding-left: 0;
  width: 100%;
  justify-content: space-evenly;
  font-family: "Avenir Next";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .nav__menu {
    width: 40%;
  }
}
.nav__menu-item {
  width: 50%;
  color: #E1E1E1;
  text-align: center;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .nav__menu-item {
    align-items: center;
    width: 25%;
  }
}
.nav__menu-item--underline {
  border-bottom: solid;
  color: #FFFFFF;
}

.hero__overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #323232 0, 0, 0, 0.5;
}

.hero {
  display: flex;
}
.hero__image {
  background-image: url("../assets/images/hero-bio.jpg");
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.hero__title {
  color: #FFFFFF;
  font-family: Avenir Next Regular;
  padding: 1rem;
}

.bio-section {
  margin-left: 1rem;
  margin-right: 1rem;
}
.bio-section__paragraph {
  display: flex;
  flex-direction: column;
  font-family: "Avenir Next ";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .bio-section__paragraph {
    display: flex;
    flex-direction: row;
    font-family: "Avenir Next ";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.bio-section__paragraph--text {
  color: #323232;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.bio-section__paragraph__title {
  color: #323232;
  padding-left: 1rem;
  font-family: "Avenir Next";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .bio-section__paragraph__title {
    align-content: center;
    margin: 8rem auto 0rem 1.6rem;
    font-family: "Avenir Next ";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

.intro {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (min-width: 768px) {
  .intro {
    margin: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .intro__text {
    font-family: "Avenir Next";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1024px) {
  .intro__text {
    margin: 2.25rem;
    font-family: "Avenir Next";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.intro__text1 {
  color: #323232;
  padding-bottom: 1rem;
  font-family: "Avenir Next Bold";
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .intro__text1 {
    font-family: "Avenir Next Bold";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin: 1.6rem auto auto auto;
  }
}
@media screen and (min-width: 1024px) {
  .intro__text1 {
    font-family: "Avenir Next Bold";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.intro__photo {
  width: 100%;
  padding-bottom: 1rem;
}
.intro__title {
  margin: 1.6rem auto auto auto;
  color: #323232;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  font-family: "Avenir Next";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .intro__title {
    font-family: "Avenir Next Bold";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin: 1.6rem 0rem;
  }
}

.bio-section__paragraph {
  font-family: "Avenir Next ";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .bio-section__paragraph {
    font-family: "Avenir Next ";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    flex-direction: row;
    padding: 0rem 1.5rem 0rem 0rem;
  }
}
.bio-section__paragraph--text {
  font-family: "Avenir Next ";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
@media screen and (min-width: 768px) {
  .bio-section__paragraph--text {
    font-family: "Avenir Next ";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.bio-section__paragraph__title {
  color: #323232;
  padding-left: 1rem;
  font-family: "Avenir Next";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .bio-section__paragraph__title {
    margin: 2.25rem;
    font-family: "Avenir Next";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

.photo-gallery {
  padding: 1rem;
  background-color: #FAFAFA;
}
.photo-gallery__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.photo-gallery__title {
  color: #323232;
  padding-bottom: 1rem;
  font-family: "Avenir Next ";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .photo-gallery__title {
    font-family: "Avenir Next ";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.photo-gallery__image {
  width: 100%;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .photo-gallery__image {
    display: flex;
    width: 30%;
  }
}

.comment-container {
  display: flex;
  flex-direction: column;
}

.comment-new {
  display: flex;
  border-bottom: 0.0625rem solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .comment-new {
    display: flex;
    border-bottom: 0.0625rem solid;
    flex-direction: row;
    justify-content: center;
  }
}
.comment-new__avatar {
  margin-top: 1.25rem;
  background-color: #E1E1E1;
  border-radius: 6.25rem;
  width: 3rem;
  height: 3rem;
}
.comment-new__form {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.comment-new__form-area {
  padding: 0.75rem;
  width: 100%;
  font-family: avenir-regular;
  border-radius: 0.25rem;
  border: 0.125rem solid #E1E1E1;
  background-color: #FAFAFA;
  padding-top: 0;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.comment-new__form-button {
  border-radius: 0.25rem;
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .comment-new__form-button {
    width: 9.375rem;
  }
}
@media screen and (min-width: 1024px) {
  .comment-new__form-button {
    width: 9.375rem;
  }
}
.comment-new__form-name {
  padding: 0.75rem;
  border-radius: 0.25rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: avenir-regular;
  border: 0.125rem solid #E1E1E1;
  background-color: #FAFAFA;
}

.comment__avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  margin-top: 1.4rem;
  background-color: #E1E1E1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.comment__image {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 2rem;
  margin-top: 1.4rem;
}
.comment__content {
  border-bottom: 0.0625rem solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .comment__date {
    font-family: "Avenir Next ";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .comment__date {
    font-family: "Avenir Next ";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .comment__name {
    font-family: "Avenir Next ";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .comment__name {
    font-family: "Avenir Next ";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .comment__text {
    font-family: "Avenir Next ";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .comment__text {
    font-family: "Avenir Next ";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .comment--newest {
    display: flex;
    flex-direction: row;
    font-family: "Avenir Next ";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
}
@media screen and (min-width: 1024px) {
  .comment--newest {
    display: flex;
    flex-direction: row;
    font-family: "Avenir Next ";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

.footer {
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 1rem;
  font-family: "Avenir Next ";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}
.footer__social-media {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer__social-media--section {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .footer__social-media--section {
    display: flex;
    flex-direction: row;
  }
}
.footer__social-media-icons {
  padding-right: 2rem;
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
  }
}
.footer__title {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: "Avenir Next ";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
  }
}

.footer-cam {
  padding-bottom: 1rem;
}
.footer-cam__location {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.footer-cam__name-company {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.footer-carson {
  padding-bottom: 1rem;
}
.footer-carson__location {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.footer-carson__name-company {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.footer-pearl {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.footer-pearl__location {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.footer-pearl__name-company {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.social-media {
  display: flex;
  width: 40%;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.social-media__icons {
  padding-top: 1rem;
}/*# sourceMappingURL=bio.css.map */