@font-face {
  font-family: Avenir Next Regular;
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Avenir Next Demi;
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: Avenir Next Bold;
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
}

.photo {
  width: 100%;
  padding-bottom: 16px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.header {
  width: 100%;
}
.header .header-logo {
  background-color: #323232;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}
.header .header-logo__img {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .header .header-logo {
    padding-left: 24px;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
  }
}
.header__img {
  max-height: 20px;
  max-width: 120px;
  margin: 16px;
  padding-bottom: 1rem;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
}
.nav__menu {
  list-style: none;
  display: flex;
  padding-left: 0;
  width: 100%;
  justify-content: space-evenly;
  font-family: "Avenir Next Demi";
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
.nav__menu-item {
  width: 50%;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .nav__menu-item {
    width: 10%;
  }
}
.nav__menu-item--underline {
  border-bottom: solid;
}

.hero__overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #323232 0, 0, 0, 0.5;
}

.hero__overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #323232 0, 0, 0, 0.5;
}

.hero {
  display: flex;
}
.hero__image {
  background-image: url("../assets/images/hero-bio.jpg");
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.hero__title {
  color: #FFFFFF;
  font-family: Avenir Next Regular;
  padding: 16px;
}

.bio-section {
  margin-left: 1rem;
  margin-right: 1rem;
}
.bio-section__paragraph {
  display: flex;
  flex-direction: column;
  font-family: "Avenir Next Regular";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .bio-section__paragraph {
    display: flex;
    flex-direction: row;
    font-family: "Avenir Next Regular";
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    padding-left: 24px;
    padding-right: 24px;
  }
}
.bio-section__paragraph--text {
  padding-bottom: 16px;
  padding-right: 24px;
  padding-left: 24px;
}
.bio-section__title {
  padding-left: 16px;
  font-family: "Avenir Next Demi";
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.intro {
  margin-left: 16px;
  margin-right: 16px;
}
.intro__text {
  padding-bottom: 16px;
  font-family: "Avenir Next Demi";
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .intro__text {
    font-family: "Avenir Next Demi";
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
.intro__photo {
  width: 100%;
  padding-bottom: 16px;
}
.intro__title {
  margin-bottom: 16px;
  padding-top: 24px;
  font-family: "Avenir Next Bold";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .intro__title {
    font-family: "Avenir Next Bold";
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}

.photo-gallery {
  padding: 16px;
  background-color: #FAFAFA;
}
.photo-gallery__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.photo-gallery__title {
  padding-bottom: 16px;
}
.photo-gallery__image {
  width: 100%;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .photo-gallery__image {
    display: flex;
    width: 30%;
  }
}

.comment-container {
  display: flex;
  flex-direction: column;
}

.comment-new {
  display: flex;
  border-bottom: 1px solid;
}
.comment-new__avatar {
  margin-top: 20px;
  background-color: #E1E1E1;
  border-radius: 100px;
  width: 48px;
  height: 48px background-image url(../assets/images/Mohan-muruge.jpg);
  background-size: cover;
}
.comment-new__form {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.comment-new__form-area {
  border-radius: 4px;
  border: 2px solid #E1E1E1;
  background-color: #FAFAFA;
  padding-top: 0;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.comment-new__form-button {
  border-radius: 4px;
  background-color: #323232;
  color: #FFFFFF;
  padding: 16px 0;
  border: none;
  cursor: pointer;
  margin-bottom: 24px;
}
.footer {
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 1rem;
  font-family: "Avenir Next Regular";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.footer__social-media {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer__social-media--section {
  display: flex;
  flex-direction: column;
}
.footer__social-media-icons {
  padding-right: 2rem;
}
.footer__title {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: "Avenir Next Regular";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-cam {
  padding-bottom: 1rem;
}
.footer-cam__location {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.footer-cam__name-company {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.footer-carson {
  padding-bottom: 16px;
}
.footer-carson__location {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.footer-carson__name-company {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.footer-pearl {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.footer-pearl__location {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.footer-pearl__name-company {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.social-media {
  display: flex;
  width: 40%;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.social-media__icons {
  padding-top: 1rem;
}

.button {
  border-radius: 0.25rem;
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem 0;
  border: none;
  cursor: pointer;
  margin-bottom: 24px;
}/*# sourceMappingURL=bio.css.map */